{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <div class="row">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">Brand Name</h3>
            <div class="sc">
              {% if rc.errors %}
                  {% for field in rc %}
                      {% for rc in field.errors %}
                          <div class="alert alert-danger">
                              <strong>{{ rc|escape }}</strong>
                          </div>
                      {% endfor %}
                  {% endfor %}
                {% endif %}
              
              </div>
          
          <div class="card-body">
           
            <table class="table align-items-center table-dark table-flush">
             
              <tbody class="list">
                <tr>
                    <tr>
                        <th>
                            <a href ="{% url 'brand-add' %}">Add-Record</a>
                        </th>
                       
                    </tr>
                    <form method="POST"  name="ColorForm" onsubmit="return validateForm()">
                      {% csrf_token %}
                    <tr>
                    
                    <td class="budget">
                        <label>Brand-Color</label></br>
                        <input type="text" name="color">
                    </td>
                    <td class="budget">
                      <input type="submit" name="submit" value="submit">
                    </td>
                      </tr>
                   </form> 
                  </tr>
                </tr>
                <tr>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script>
  function validateForm() {
    let x = document.forms["ColorForm"]["color"].value;
    
    if (x == "") {
      alert("field is blank");
      return false;
    }
   
     }
  </script>

{% endblock javascripts %}
