{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}
{% load static %}
<html>
<head>
   
    <title>Session</title>
</head>
<body>
    <h4>Get Session...</h4>
    {{name}} </br>
    
    {{ request.session.get_session_cookie_age }}</br>
    {{ request.session.get_expiry_age }}</br>
    {{ request.session.get_expiry_date }}</br>
    {{ request.session.get_expire_at_browser_close}}
    <!-- {% for key, value in item %}
    {{key}} {{value}}
    {%endfor%} -->
    
    <!-- {% for key in request.session.keys %}
    {{key}}
    {% endfor %} -->
    </body>

</html>


{% include "includes/footer.html" %}



{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}